input{
    width: 450px;
    height: 4vh;
    border-radius: 6px;
    text-align: center;
    font-size: 20px;
}

button{
    width:150px;
    height: 4vh;
    text-align: center;
    font-size: 20px;
    margin-left: 20px;
    background-color: rgb(74, 74, 236);
}